Fitting/*__pycache__*
Fitting/checkpoints/*
Fitting/tensorboard/*
Fitting/log/*
Fitting/*.sh
Fitting/.idea/
Fitting/.idea/*
Fitting/*.pyc
Fitting/*.zip

Fitting/m_config.py
Fitting/shape_predictor_68_face_landmarks.dat
Fitting/data/
Fitting/keras-contrib/
Fitting/.pytest_cache/
Fitting/.vscode/

Fitting/train.py
Fitting/visualization.py
Fitting/cp_dataset.py
Fitting/networks.py
