.title_tab,
.title_noTab {
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
}

.title_noTab {
  border-bottom: 1px solid lightgray;
}

.tab {
  display: flex;
  color: gray;
}

.tab div {
  font-weight: bold;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
  width: 50%;
  cursor: pointer;
}

.selected_tab {
  color: black;
  border-bottom: 2px solid black;
}

.sale_container, .purchase_container {
  height: 35vh;
  margin-top: 35vh;
}

.message {
  color: gray;
  text-align: center;
}

.model_container {
  height: 70vh;
}

.btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn button {
  border: none;
  outline: none;
  background-color: #fea5ab;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.inputFile {
  display: none;
}

.loading_container {
  text-align: center;
  margin-top: 50px;
}

.loading_spinner {
  width: 30px;
}

.loading_text {
  margin-top: 10px;
}

.uploadImg {
  margin-top: 40px;
  text-align: center;
}

.uploadImg p img {
  width: 50%;
}

/* ==================================================== */
.product_container {
  display: flex;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
}

.product_img {
  height: 128px;
  width: 128px;
  border-radius: 10px;
}

.product_info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 8px;
}

.product_title {
  font-size: 16px;
  font-weight: bold;
}

.product_time {
  font-size: 12px;
  color: gray;
}

.product_div {
  width: 200px;
}

.product_state {
  float: left;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: gray;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
  margin-right: 10px;
}

.product_price {
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}