.profile_container, .fitting_container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
}

.profile_title, .fitting_title {
    display: flex;
    justify-content: space-between;
}

.icon_close {
    float: left;
}

.title {
    text-align: center;
}

.ok {
    color: #fea5ab;
    font-weight: bold;
}

.ok_hidden{
    color: white;
}

.user_img {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.user_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.edit_container {
    width: 90%;
    text-align: center;
}

.user_name, .user_height, .user_weight {
    text-align: center;
    margin-bottom: 10px;
}

.user_name p, .user_height p, .user_weight p, .user_gender p {
    float: left;
    width: 20%;
}

.user_name input, .user_height input, .user_weight input, .user_gender select {
    width: 80%;
    height: 35px;
    border-style: none;
    border: 1.5px solid lightgray;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.message {
    color: red;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.btn button {
    position: absolute;
    margin-top: 80%;
    border: none;
    outline: none;
    background-color: #fea5ab;
    color: white;
    width: 100%;
    height: 50px;
}

.fittingImg_container {
    text-align: center;
    margin-top: 50px;
}

.fittingImg {
    width: 300px;
    height: 400px;
}

.loading_container {
    text-align: center;
    margin-top: 50px;
  }
  
  .loading_spinner {
    width: 30px;
  }
  
  .loading_text {
    margin-top: 10px;
  }