.profile_container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
}

.profile_title {
    display: flex;
    justify-content: space-between;
}

.icon_close {
    float: left;
}

.title {
    text-align: center;
}

.ok {
    color: white
}

.user_img {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.user_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user_name {
    text-align: center;
    margin-bottom: 10px;
}

.user_name input {
    width: 90%;
    height: 35px;
    border-style: none;
    border: 1.5px solid lightgray;
    border-radius: 10px;
    text-align: center;
}

.message {
    color: red;
    font-size: 15px;
    text-align: center;
}

.btn button {
    position: absolute;
    margin-top: 60%;
    border: none;
    outline: none;
    background-color: #fea5ab;
    color: white;
    width: 100%;
    height: 50px;
}